<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
            <title>Meet The Team</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='team_style.css')}}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css" />
        </head>
        <body>
            <div class="image-container">
                <div class="text">Modern Secured Digital eVoting & Analysis</div>
            </div>

            <div class="dec_center">
                <div class="deconstructed">
                    ONE TEAM- ONE HEART ONE MISSION ONE LEGACY
                    <div>ONE TEAM- ONE HEART ONE MISSION ONE LEGACY</div>
                    <div>ONE TEAM- ONE HEART ONE MISSION ONE LEGACY</div>
                    <div>ONE TEAM- ONE HEART ONE MISSION ONE LEGACY</div>
                    <div>ONE TEAM- ONE HEART ONE MISSION ONE LEGACY</div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="{{url_for('static',filename='89d3e30b-6452-4bfa-8b61-f33ee13efc36.jpg')}}" alt="Jyotishman" style="width: 100%;" />
                    <div class="container">
                        <h2>Jyotishman</h2>
                        <p class="title">Backend Developer</p>
                        <b>Sathyabama University</b>
                        <div style="margin: 24px 0;">
                            <a href="https://www.linkedin.com/in/jyotishman-ghatak-a71367123/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="{{url_for('static',filename='cf27939b-8ade-4196-a358-34a24c93a625.jpg')}}" alt="Jayesh" style="width: 100%;" />
                        <div class="container">
                            <h2>Jayesh</h2>
                            <p class="title">Frontend Developer</p>
                            <b>Sathyabama University</b>
                            <div style="margin: 24px 0;">
                                <a href="https://www.linkedin.com/in/jayesh-baibhav/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="{{url_for('static',filename='3205e098-0c82-46af-848b-c36004acfb11.jpg')}}" alt="Vivek" style="width: 100%;" />
                        <div class="container">
                            <h2>Vivek</h2>
                            <p class="title">Graphics Designer</p>
                            <b>Sathyabama University</b>
                            <div style="margin: 24px 0;">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="{{url_for('static',filename='887479de-ffb8-45b8-8a70-ac9bcca2cd6c.jpg')}}" alt="Aryan" style="width: 100%;" />
                        <div class="container">
                            <h2>Aryan</h2>
                            <p class="title">Fullstack Developer</p>
                            <b>Sathyabama University</b>
                            <div style="margin: 24px 0;">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="{{url_for('static',filename='1e23e329-6e9d-4dd2-a4ce-a590f319f81c.jpg')}}" alt="Himanshu" style="width: 100%;" />
                        <div class="container">
                            <h2>Himanshu</h2>
                            <p class="title">ML Expert</p>
                            <b>Sathyabama University</b>
                            <div style="margin: 24px 0;">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
</html>
