<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='homepage_style.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
</head>

<body class="body">

<div class="image-container">
  <div class="text">Modern Secured Digital eVoting & Analysis</div>
</div>

<center>
<div class="button_css">	
  <div class="form">
      <button type="button" onclick="window.location.href='/admin_login'">ADMIN LOGIN</button><br><br>
      <button type="button" onclick="window.location.href='/login'">I'm Here for Voting!</button>
  </div>
</div>
</center>



</body>
</html>