<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
            <title>Voter's Login</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login_style.css')}}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css" />
        </head>

        <body class="body">
            <div class="image-container">
                <div class="text">Modern Secured Digital eVoting & Analysis</div>
            </div>
            <div class="login-page">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages%}
                        <p style="color:white;font-weight:1000;font-size:16px;text-align:center">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <div class="form">
                    <form method="POST" action="/login">
                        <input type="text" name="Register" placeholder="&#xf007;  Register Number" required />
                        <input type="password" name="Password" placeholder="&#xf023;  Password" required />
                        <button type="submit">LOGIN</button>
                        <button type="button" onclick="window.location.href='/signup'">I'm New Here!</button>
                        <button type="button" onclick="window.location.href='/'">Back to hompage</button>
                    </form>
                </div>
            </div>
            <div id="mybutton">
                <button class="feedback" onclick="window.location.href='/about'">Meet The Team</button>
            </div>
        </body>
    </html>
</html>
